<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
	<appSettings file="Secrets.config">
		<add key="Gmail:SmtpHost" value="smtp.gmail.com" />
		<add key="Gmail:SmtpPort" value="587" />
		<add key="Gmail:ImapHost" value="imap.gmail.com" />
		<add key="Gmail:ImapPort" value="993" />
	</appSettings>
</configuration>
